
dofile("scripts/common.lua")

local config = new_config()
config.print_ok = false

config.exclusions = {}
config.extension_filter = make_inverse_table({
	"hpp", "ipp", "cpp", "cxx"
})

config.order_tree = make_order_tree({
	scoped_call("dep/togo", function() return dofile("scripts/include_order")() end),
	dofile("scripts/include_order")(config),
})

return config
